section.v2-banner
	//- .v2-banner__content
	//- 	.container
	//- 		.row
	//- 			.col-lg-6
	//- 				.v2-banner__logo
	//- 					img(src="img/v2-logo.png", alt="v2-logo.png")
	//- 			.col-lg-6
	//- 				h4.v2-banner__title ACM HUMAN CO.,LTD　(ACM人材有限会社）
	//- 				.v2-banner__sub-title 本社
	//- 				p 05, Street 9, Tan Thuan Dong Ward, District 7, HCMC
	//- 				p TEL: (+84) 28 6276 2606
	//- 				p FAX: (+84) 28 3873 3268
	//- 				p Email: contact@acmjinzai.com
	//- 				.v2-banner__sub-title 日本支店
	//- 				p 〒 211-0002 神奈川県川崎市中原区上丸子山王町2-1341-10
	//- 				p TEL: 080-2274-5232
	//- 				p Email: congtan@acmjinzai.com
	.v2-banner__bg-1
		img(src="img/v2-banner-3.jpg", alt="v2-banner-3.jpg")
	.v2-banner__bg-2
		img(src="img/v2-banner.png", alt="v2-banner.png")