section.lien-he#article-5
	.container
		.row
			.col-md-4
				h2.v2-main__title お問い合わせ
				form(method="post").contact-form
					.form-item
						input(type="text" placeholder="名前を入力してください")
					.form-item
						input(type="text" placeholder="電子メールを入力してください")
					.form-item
						input(type="text" placeholder="タイトルを入力する")
					.form-item
						input(type="text" placeholder="電話番号を入力してください")
					.form-item
						textarea(id="content" placeholder="メイン コンテンツのインポート")
					input(type="submit", value="送信").contact-send
			.col-md-8
				.box-img
					img(src='img/header-banner.png', alt='header-banner')