section.landing-page
	img(src="img/dieu-duong/sakura-1.png", alt="sakura-1.png").p-abs.tr.z-1
	.container
		h1.ld-title ĐIỀU DƯỠNG
		.ld-stitle
			p Chương trình đào tạo điều dưỡng,
			p hộ lý của ACMJINZAI
		.bandroll
			.ld-title.text ĐIỀU DƯỠNG, HỘ LÝ
	.content-wrapper
		.block-content
			.container
				.text
					p 1. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia minus enim voluptatibus voluptatem ex nemo nisi laudantium, odio molestias dolorum aliquid tenetur reprehenderit placeat impedit corporis ratione eum consectetur pariatur!
					p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia minus enim voluptatibus voluptatem ex nemo nisi laudantium, odio molestias dolorum aliquid tenetur reprehenderit placeat impedit corporis ratione eum consectetur pariatur!
		.block-content
			.content-child
				.container
					.text
						p 2. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia minus enim voluptatibus voluptatem ex nemo nisi laudantium, odio molestias dolorum aliquid tenetur reprehenderit placeat impedit corporis ratione eum consectetur pariatur!
						p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia minus enim voluptatibus voluptatem ex nemo nisi laudantium, odio molestias dolorum aliquid tenetur reprehenderit placeat impedit corporis ratione eum consectetur pariatur!
			.content-child
				.container
					.text
						p 3. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia minus enim voluptatibus voluptatem ex nemo nisi laudantium, odio molestias dolorum aliquid tenetur reprehenderit placeat impedit corporis ratione eum consectetur pariatur!
						p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia minus enim voluptatibus voluptatem ex nemo nisi laudantium, odio molestias dolorum aliquid tenetur reprehenderit placeat impedit corporis ratione eum consectetur pariatur!
		.block-content
			.img-wrap
				img(src="img/dieu-duong/flower-frame-1.png", alt="flower-frame-1.png").content-img
				img(src="img/dieu-duong/flower-frame-2.png", alt="flower-frame-2.png").content-img
			.container
				.text
					p 4. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nesciunt maiores sapiente nostrum, cupiditate non accusantium quia, corporis facere nam ut facilis nihil consequatur earum, mollitia commodi excepturi amet accusamus ad.
					p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod numquam odio mollitia soluta ex, repellat fugit rerum saepe porro quam accusantium corrupti eveniet rem dolorum consectetur consequatur ullam maiores sunt!
		.block-content
			.container
				h2.ld-ctitle Điều kiện tham gia điều dưỡng, hộ lý Nhật Bản
				.text
					p
					p – Yêu cầu ứng viên tốt nghiệp cao đẳng điều dưỡng, điều dưỡng đa khoa (3 năm) hoặc cử nhân điều dưỡng, điều dưỡng đa khoa (4 năm);
					p – Độ tuổi: Dưới 35 tuổi
					p – Đáp ứng đủ các điều kiện sức khỏe để đi làm việc tại nước ngoài.
					p – Không có tiền án, tiền sự hoặc bị truy cứu trách nhiệm hình sự theo quy định của pháp luật Việt Nam
					p – Có nguyện vọng được tham gia chương trình và có thể tham gia khóa đào tạo tiếng Nhật.
				h2.ld-ctitle Công việc cụ thể
				.content-child
					.text
						p
						p – Giao tiếp, tư vấn sức khỏe cho người già, những bệnh nhân cần được chăm sóc.
						p – Theo dõi tình trạng tinh thần, sức khỏe của người già, người bệnh.
						p – Hỗ trợ sinh hoạt thường ngày tuỳ theo tình trạng tinh thần và sức khoẻ của người già, người bệnh như hỗ trợ di chuyển, tắm, thay đồ, ăn uống, vệ sinh …
						p – Hỗ trợ các hoạt động vui chơi, giải trí, phục hồi chức năng cho người bệnh.
						p – Ghi chép nội dung hỗ trợ và thông báo cho nhân viên khác biết.
						p – Chăm sóc đời sống sinh hoạt hàng ngày của người bệnh.
						p – Chăm sóc theo tình trạng bệnh.
						p – Cho bệnh nhân ăn.
