section.don-hang
	h2.title.text-center danh sách đơn hàng
	.container
		.row
			.table-top
				.display
					p Đang hiển thị 
						span 1
						|  đến 
						span 10
						|  trong 
						span 55
						|  đơn hàng
				.search-box
					label(for="search") Tìm kiếm:
					input(type="text" placeholder="Tìm kiếm gì đó...")#search
			.table-wrap
				table
					thead
						tr
							th công việc
							th đơn hàng
							th mức lương
							th yêu cầu
							th nơi làm việc
							th ngày tuyển
					tbody
						tr
							td
								a(href="/") [ THỰC TẬP SINH NHẬT BẢN ] 5~10 NAM NỮ - CHĂN NUÔI
							td
								a(href="/") nông nghiệp
							td
								span 160.000 yên
							td
								span.n3 n3
							td
								a(href="/") KANAGAWA
							td 18/10/2019
						tr
							td
								a(href="/") [ THỰC TẬP SINH NHẬT BẢN ] 2 NỮ CHẾ BIẾN THỦY SẢN GIA NHIỆT
							td
								a(href="/") thủy sản
							td
								span 139.725 yên
							td
								span.n3 n3
							td
								a(href="/") SHIZUOKA
							td 18/10/2019
						tr
							td
								a(href="/") [ƯU TIÊN PHỎNG VẤN NGAY ] Tuyển 14 nữ điều dưỡng
							td
								a(href="/") Điều dưỡng
							td
								span 130.000 yên
							td
								span KHÔNG
							td
								a(href="/") OSAKA
							td 18/10/2019
						tr
							td
								a(href="/") [ƯU TIÊN PHỎNG VẤN NGAY ] Tuyển 14 nữ điều dưỡng
							td
								a(href="/") Điều dưỡng
							td
								span 130.000 yên
							td
								span KHÔNG
							td
								a(href="/") OSAKA
							td 18/10/2019
						tr
							td
								a(href="/") [ THỰC TẬP SINH NHẬT BẢN ] 5~10 NAM NỮ - CHĂN NUÔI
							td
								a(href="/") nông nghiệp
							td
								span 160.000 yên
							td
								span.n4 n4
							td
								a(href="/") KANAGAWA
							td 18/10/2019
						tr
							td
								a(href="/") [ THỰC TẬP SINH NHẬT BẢN ] 2 NỮ CHẾ BIẾN THỦY SẢN GIA NHIỆT
							td
								a(href="/") thủy sản
							td
								span 139.725 yên
							td
								span.n2 n2
							td
								a(href="/") SHIZUOKA
							td 18/10/2019
						tr
							td
								a(href="/") [ THỰC TẬP SINH NHẬT BẢN ] 2 NỮ CHẾ BIẾN THỦY SẢN GIA NHIỆT
							td
								a(href="/") thủy sản
							td
								span 139.725 yên
							td
								span.n2 n2
							td
								a(href="/") SHIZUOKA
							td 18/10/2019
						tr
							td
								a(href="/") [ƯU TIÊN PHỎNG VẤN NGAY ] Tuyển 14 nữ điều dưỡng
							td
								a(href="/") Điều dưỡng
							td
								span 130.000 yên
							td
								span.n1 n1
							td
								a(href="/") OSAKA
							td 18/10/2019
						tr
							td
								a(href="/") [ƯU TIÊN PHỎNG VẤN NGAY ] Tuyển 14 nữ điều dưỡng
							td
								a(href="/") Điều dưỡng
							td
								span 130.000 yên
							td
								span.n1 n1
							td
								a(href="/") OSAKA
							td 18/10/2019
			.table-bottom
				.pagination
					a(href="/").lnr.lnr-arrow-left.isDisabled
					a(href="/").lnr.lnr-chevron-left.isDisabled
					a(href="/").current 1
					a(href="/") 2
					a(href="/") 3
					a(href="/") 4
					a(href="/").lnr.lnr-chevron-right
					a(href="/").lnr.lnr-arrow-right
				.display-mode
					span Hiển thị
					select(name="display-number")
						option(value="10") 10
						option(value="20") 20
						option(value="50") 50
						option(value="100") 100
					span đơn hàng