section.don-hang
	h2.title.text-center danh sách đơn hàng
	.container
		.row
			.table-top
				.display
					p Đang hiển thị 
						span 1
						|  đến 
						span 10
						|  trong 
						span 55
						|  đơn hàng
				.search-box
					label(for="search") Tìm kiếm:
					input(type="text" placeholder="Tìm kiếm gì đó...")#search
			.grid-container
				.grid-header
					div công việc
					div đơn hàng
					div mức lương
					div yêu cầu
					div nơi làm việc
					div ngày tuyển
				a(href="/").grid-item
					div [ THỰC TẬP SINH NHẬT BẢN ] 5~10 NAM NỮ - CHĂN NUÔI
					div nông nghiệp
					div
						span 160.000 yên
					div
						span.n3 N3
					div
						span KANAGAWA
					div 18/10/2019
				a(href="/").grid-item
					div [ THỰC TẬP SINH NHẬT BẢN ] 2 NỮ CHẾ BIẾN THỦY SẢN GIA NHIỆT
					div thủy sản
					div
						span 139.725 yên
					div
						span.n3 N3
					div
						span SHIZUOKA
					div 18/10/2019
				a(href="/").grid-item
					div [ƯU TIÊN PHỎNG VẤN NGAY ] Tuyển 14 nữ điều dưỡng
					div Điều dưỡng
					div
						span 130.000 yên
					div
						span KHÔNG
					div
						span OSAKA
					div 18/10/2019
				a(href="/").grid-item
					div [ƯU TIÊN PHỎNG VẤN NGAY ] Tuyển 14 nữ điều dưỡng
					div Điều dưỡng
					div
						span 130.000 yên
					div
						span KHÔNG
					div
						span OSAKA
					div 18/10/2019
				a(href="/").grid-item
					div [ THỰC TẬP SINH NHẬT BẢN ] 5~10 NAM NỮ - CHĂN NUÔI
					div nông nghiệp
					div
						span 160.000 yên
					div
						span.n2 N2
					div
						span KANAGAWA
					div 18/10/2019
				a(href="/").grid-item
					div [ THỰC TẬP SINH NHẬT BẢN ] 2 NỮ CHẾ BIẾN THỦY SẢN GIA NHIỆT
					div thủy sản
					div
						span 139.725 yên
					div
						span.n1 N1
					div
						span SHIZUOKA
					div 18/10/2019
				a(href="/").grid-item
					div [ THỰC TẬP SINH NHẬT BẢN ] 5~10 NAM NỮ - CHĂN NUÔI
					div nông nghiệp
					div
						span 160.000 yên
					div
						span.n3 N3
					div
						span KANAGAWA
					div 18/10/2019
				a(href="/").grid-item
					div [ THỰC TẬP SINH NHẬT BẢN ] 2 NỮ CHẾ BIẾN THỦY SẢN GIA NHIỆT
					div thủy sản
					div
						span 139.725 yên
					div
						span.n4 N4
					div
						span SHIZUOKA
					div 18/10/2019
				a(href="/").grid-item
					div [ THỰC TẬP SINH NHẬT BẢN ] 5~10 NAM NỮ - CHĂN NUÔI
					div nông nghiệp
					div
						span 160.000 yên
					div
						span.n2 N2
					div
						span KANAGAWA
					div 18/10/2019
				a(href="/").grid-item
					div [ THỰC TẬP SINH NHẬT BẢN ] 2 NỮ CHẾ BIẾN THỦY SẢN GIA NHIỆT
					div thủy sản
					div
						span 139.725 yên
					div
						span.n1 N1
					div
						span SHIZUOKA
					div 18/10/2019
			.table-bottom
				.pagination
					a(href="/").lnr.lnr-arrow-left.isDisabled
					a(href="/").lnr.lnr-chevron-left.isDisabled
					a(href="/").current 1
					a(href="/") 2
					a(href="/") 3
					a(href="/") 4
					a(href="/").lnr.lnr-chevron-right
					a(href="/").lnr.lnr-arrow-right
				.display-mode
					span Hiển thị
					select(name="display-number")
						option(value="10") 10
						option(value="20") 20
						option(value="50") 50
						option(value="100") 100
					span đơn hàng