section.ho-so.container
	.ho-so-inner
		.left
			p hồ
			p sơ
			p cần
			p chuẩn
			p bị
		.right
			p Chứng minh nhân dân
			p Hộ chiếu
			p 2 ảnh 4x6 ( chuẩn quốc tế )
			p Khám sức khỏe ( Nam: 1.000.000đ - Nữ: 900.000đ )
			p Đơn xác nhận hạnh kiểm / Đơn xác nhận tiền án tiền sự
			p Đơn xác nhận tình trạng hôn nhân (đối với trường hợp chưa kết hôn)
			p Đối với các ứng viên đã từng đăng ký / tham gia đi làm việc / du học / giao lưu văn hóa / du lịch /... tại nước ngoài, cần đem theo toàn bộ hồ sơ liên quan.