section.v2-the-manh#article-3
	article.container
		.row
			.col-lg-6
				.v2-main__title ACMの強み
				.v2-main__line
				ul.v2-main__list
					li.v2-main__list-item
						.v2-main__list-header 明確なリクルート
						.v2-main__list-content
							p ▪校・専門学校・短期大学・大学、地方労働センター、職業訓練学校と提携し、    セミナーを行い、技能実習制度について説明等。
							p ▪方に提携の上、奨学金を贈ることも一つのリクルート方法。
							ul
								li 校・専門学校・短期大学・大学、地方労働センター、職業訓練学校と提携し、    セミナーを行い、技能実習制度について説明等。
								li 提携：35％
								li テレ ビ・新 聞：10％
								li 技能実習生の紹介・その他：20％
					li.v2-main__list-item
						.v2-main__list-header 候補者の良質確保
						.v2-main__list-content
							p ▪補者の履歴書を徹底確認し、ＩＱテスト、体力テストを行う。
							p ▪成績の応募者は入学できない。
							p ▪学習力・態度・健康面を厳密に確認後、正式に入学させる。
							p ▪クラス内でのベトナム語禁止とする。
							p ▪学中の学習態度はもちろん、生徒の生活行為もしっかり管理し、 出席率が悪い生徒・法律違反の生徒は退校とする。
					li.v2-main__list-item
						.v2-main__list-header 豊富な経験
						.v2-main__list-content
							p ▪殆どの業務担当者、語学講師は元々日本で技能実習生として仕事を経験していますので日本の文化や考え方・働き方をよく理解している。
							p ▪95％従業員は日本語能力を持ち、企業担当者や管理組合担当者からのご依頼に直ぐに対応できる。
							p ▪日本国内では駐在員が駐在しており、技能実習生にトラブルなどが発生した場合、迅速に対応できる。日本国内では駐在員が駐在しており、技能実習生にトラブルなどが発生した場合、迅速に対応できる。
					li.v2-main__list-item
						.v2-main__list-header 帰国後のキャリアサポート
						.v2-main__list-content
							p ▪年金の脱退一時金の手続きや技能実習終了手続き等を無料サポートする。
							p ▪蓄積したお金で起業すると考える人や留学希望の人に諮問して道を聞く。
							p ▪ベトナムにある1000 社以上の日本企業と連携し、いつでも新たな仕事を紹介できることを約束する。
			//- .v2-main__bg.d-block-lg.col-lg-6