header
	.container
		.row
			.logo
				a(href="/")
					img(src="img/jp-logo.png", alt="logo.png")
			.col-auto.d-flex.flex-align-center
				button.button.square.outline.rounded#menu-toggle
					span.lnr.lnr-menu
				ul.d-menu(data-role="dropdown" data-toggle-element="#menu-toggle" data-collapsed="true")
					li
						a(href="#article-1") 社長ご挨拶
					li.divider
					li
						a(href="#article-2") 会社概要
					li.divider
					li
						a(href="#article-3") JPの強み
					li.divider
					li
						a(href="#article-4") スキル教育及びマナー訓練
					li.divider
					li
						a(href="#article-5") お問い合わせ
