.tieu-bieu
	margin-top: 60px
	.grid-container
		display: grid
		grid-template-columns: 1fr 1fr 1fr 1fr 1fr
		grid-column-gap: 15px
	.sub-title
		color: $color-title-2
		margin-top: 10px
	.item
		line-height: 1.5
		text-align: center
		p
			font-weight: 300