section.tieu-bieu
	.container.grid-container
		.item
			.box-img
				img(src='img/icon-success.png', alt='icon-success.png')
			h3.sub-title tương lai
			p Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem maiores, natus quos nostrum laudantium possimus expedita dolore libero provident laboriosam.
		.item
			.box-img
				img(src='img/icon-idea.png', alt='icon-idea.png')
			h3.sub-title sáng tạo
			p Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem maiores, natus quos nostrum laudantium possimus expedita dolore libero provident laboriosam.
		.item
			.box-img
				img(src='img/icon-growing.png', alt='icon-growing.png')
			h3.sub-title thu nhập
			p Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem maiores, natus quos nostrum laudantium possimus expedita dolore libero provident laboriosam.
		.item
			.box-img
				img(src='img/icon-presentation.png', alt='icon-presentation.png')
			h3.sub-title Đơn hàng
			p Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem maiores, natus quos nostrum laudantium possimus expedita dolore libero provident laboriosam.
		.item
			.box-img
				img(src='img/icon-management.png', alt='icon-management.png')
			h3.sub-title hệ thống đào tạo
			p Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem maiores, natus quos nostrum laudantium possimus expedita dolore libero provident laboriosam.