section.bo-suu-tap
	.container
		.bo-suu-tap-inner
			.swiper-container
				.swiper-wrapper
					-for(var i=0; i < 2; i++)
						.swiper-slide
							.box-img
								a(href="img/user.jpg" data-fancybox="hinh-anh")
									img(src="img/user.jpg", alt="user.jpg")
							.gallery
								.box-img
									a(href="img/hoat-dong(3).jpg" data-fancybox="hinh-anh")
										img(src="img/hoat-dong(3).jpg", alt="hoat-dong(3).jpg")
								.box-img
									a(href="img/hoat-dong(1).jpg" data-fancybox="hinh-anh")
										img(src="img/hoat-dong(1).jpg", alt="hoat-dong(1).jpg")
								.box-img
									a(href="img/hoat-dong(3).jpg" data-fancybox="hinh-anh")
										img(src="img/hoat-dong(3).jpg", alt="hoat-dong(3).jpg")
								.box-img
									a(href="img/hoat-dong(1).jpg" data-fancybox="hinh-anh")
										img(src="img/hoat-dong(1).jpg", alt="hoat-dong(1).jpg")
							.text-center
								span Hình ảnh ACM
						.swiper-slide
							.box-img
								a(href="img/hoat-dong(2).jpg" data-fancybox="20-11")
									img(src="img/hoat-dong(2).jpg", alt="img/hoat-dong(2).jpg")
							.gallery
								.box-img
									a(href="img/hoat-dong(3).jpg" data-fancybox="20-11")
										img(src="img/hoat-dong(3).jpg", alt="hoat-dong(3).jpg")
								.box-img
									a(href="img/hoat-dong(1).jpg" data-fancybox="20-11")
										img(src="img/hoat-dong(1).jpg", alt="hoat-dong(1).jpg")
								.box-img
									a(href="img/hoat-dong(3).jpg" data-fancybox="20-11")
										img(src="img/hoat-dong(3).jpg", alt="hoat-dong(3).jpg")
								.box-img
									a(href="img/hoat-dong(1).jpg" data-fancybox="20-11")
										img(src="img/hoat-dong(1).jpg", alt="hoat-dong(1).jpg")
							.text-center
								span Ngày 20-11 ở ACM
						.swiper-slide
							.box-img
								a(href="img/user.jpg" data-fancybox="thuc-te")
									img(src="img/xay-dung.jpg", alt="img/xay-dung.jpg")
							.gallery
								.box-img
									a(href="img/hoat-dong(3).jpg" data-fancybox="thuc-te")
										img(src="img/hoat-dong(3).jpg", alt="hoat-dong(3).jpg")
							.text-center
								span Hình ảnh công việc thực tế
			.pagination-wrap
				.pagination
				span bộ sưu tập
				.line