extends _layout.pug

block var
	- var title = 'Chi tiết tin tức'

block main
	section.page-banner
		img(src="./img/banner.jpg", alt="banner.jpg")
	section.container
		include ../components/breadcrumb/index
		section.page-ct-tintuc.row
			.col-md-9
				h2.sub-title.color-title CHI PHÍ XUẤT KHẨU LAO ĐỘNG TẠI NHẬT BẢN 1 NĂM BAO NHIÊU?
				.line
				.content
					p Xuất khẩu lao động Nhật Bản đã và đang là sự lựa chọn của rất nhiều người với hi vọng thay đổi và cải thiện cuộc sống. Những năm gần đây thị trường lao động Nhật Bản đã đáp ứng được nhu cầu và nguyện vọng của lao động. Thực tập sinh chọn đất nước Nhật Bản là bởi mức thu nhập ổn định, có cơ hội được rèn luyện bản thân trong môi trường làm việc nghiêm túc, thủ tục xuất cảnh nhanh, chi phí đi không cao,…Để có thể đi Nhật làm việc, người lao động còn gặp không ít khó khăn và vấn đề lớn nhất là “điều kiện về tài chính khi tham gia”. Tuy nhiên hiện nay chương trình đi Nhật đã thay đổi từ khí chi phí xuất khẩu lao động Nhật Bản 1 năm chỉ còn rất thấp.
					p Thị trường lao động Nhật Bản tại công ty Nhân lực Nhật Bản HOGAMEX là mảng hoạt động chính của công ty. Chúng tôi tiếp nhận rất đa dạng các hình thức visa cho người lao động như: du học, thực tập sinh (xuất khẩu lao động Nhật Bản), kỹ thuật viên, phiên dịch viên, … Trong hình thức đi lao động, có rất nhiều ngành nghề mà công ty đang triển khai tuyển chọn và đào tạo nguồn lực cung ứng cho các xí nghiệp Nhật.
					p Chỉ với 55 triệu đồng, tích lũy 200-250tr/năm
					p Tại công ty, hợp đồng  lao động Nhật Bản 1 năm có chi phí rất thấp, trong đó bao gồm toàn bộ: phí dịch vụ + phí làm thủ tục cho người lao động + phí đào tạo + ăn ở nội trú + phụ phí xuất cảnh + … Chỉ với số khoản tài chính khoảng 55-60 triệu đồng, người lao động có cơ hội làm việc tại các xí nghiệp Nhật Bản với những ngành nghề phổ biến như: thực phẩm, thủy sản, thu hoạch nông nghiệp, điện tử, giặt là, dệt may…. (Các đơn hàng dành cho lao động nữ chiếm khoảng 70%).
					p Lương đi Nhật Bản lao động 1 năm
					p Với mức lương cơ bản ký từ 23-28 triệu đồng/tháng, kèm theo việc làm thêm và chi tiêu tiết kiệm, sau khi hết hạn hợp đồng, người lao động hoàn toàn có thể tích lũy được nguồn vốn khoảng 240 – 300 triệu đồng trở lên. Bên cạnh đó, một số đơn hàng đi Nhật 1 năm còn có cơ hội gian hạn visa, điều này có nghĩa là được làm việc ở Nhật 3 năm nhưng chỉ với mức phí bỏ ra chưa tới 100 triệu đồng.
					p Những ưu điểm vượt trội của hợp đồng 1 năm:
					p – Mang tính chất công việc “mùa vụ”: nhiều việc, ổn định, tăng ca nhiều, lương cao
					p – Thời gian đào tạo ngắn
					p – Chi phí rất thấp
					p – Ngành nghề đơn giản (không phải học việc lâu)
					p – Không phải ký quỹ (cọc chống trốn)
					p Đối tượng phù hợp:
					p – Nguồn tài chính gia đình thấp.
					p – Sinh viên Nhật Ngữ có cơ hội nâng cao tiếng Nhật sau khi ra trường.
					p – Do điều kiện gia đình không phù hợp để đi thời gian 3 năm.
					p – Có cơ hội học tiếng Nhật sau đó dễ dàng hơn khi đi du học hoặc diện kỹ sư.
					p – Học hỏi kinh nghiệm làm việc, khám phá đất nước, văn hóa Nhật Bản.
					p Thời gian tới công ty liên tục tiếp nhận những đơn tuyển chọn lao động làm việc với thời hạn hợp đồng 1 năm, cam kết chi phí xuất khẩu lao động Nhật Bản 1 năm rẻ nhất thị trường, để hiểu rõ hơn quy trình tuyển chọn, hồ sơ tham gia, điều kiện đăng ký, lộ trình phí,… Các bạn hãy đặt câu hỏi hoặc liên hệ trực tiếp với chúng tôi để có cái nhìn cụ thể và chính xác nhất.
			.col-md-3
				.viec-lam-mirai
					h3.sub-title.color-title VIỆC LÀM MIRAI
					.line
					nav.list-viec-lam
						li
							a(href="#") [ THỰC TẬP SINH NHẬT BẢN ] 12 NAM - CHẾ TẠO TRONG XÂY DỰNG
						li
							a(href="#").new [ THỰC TẬP SINH NHẬT BẢN ] 12 NAM - CHẾ TẠO TRONG XÂY DỰNG
						li
							a(href="#") [ THỰC TẬP SINH NHẬT BẢN ] 12 NAM - CHẾ TẠO TRONG XÂY DỰNG
						li
							a(href="#").hot [ THỰC TẬP SINH NHẬT BẢN ] 12 NAM - CHẾ TẠO TRONG XÂY DỰNG
						li
							a(href="#") [ THỰC TẬP SINH NHẬT BẢN ] 12 NAM - CHẾ TẠO TRONG XÂY DỰNG
						li
							a(href="#").new [ THỰC TẬP SINH NHẬT BẢN ] 12 NAM - CHẾ TẠO TRONG XÂY DỰNG
						li
							a(href="#") [ THỰC TẬP SINH NHẬT BẢN ] 12 NAM - CHẾ TẠO TRONG XÂY DỰNG
						li
							a(href="#").hot [ THỰC TẬP SINH NHẬT BẢN ] 12 NAM - CHẾ TẠO TRONG XÂY DỰNG