extends _layout.pug

block var
	- var title = 'Điều dưỡng'
//- block link
	//- link(href="https://fonts.googleapis.com/css?family=Lemonada:700|Quicksand:400&display=swap" rel="stylesheet")

block main
	include ../components/landing-page-dieu-duong/index