extends _layout.pug

block var
	- var title = 'Đơn hàng'

block main
	section.page-banner
		img(src="./img/banner.jpg", alt="banner.jpg")
	section.container
		include ../components/breadcrumb/index
		section.page-don-hang.don-hang.row
			.col-md-9
				h2.sub-title.color-title [ THỰC TẬP SINH NHẬT BẢN ] 16 NAM - CHẾ TẠOTRONG XÂY DỰNG 12 NAM VÀ SƠN 14 NAM
				.line
				.table-wrap
					table
						tr
							td.fw-700 Địa chỉ làm việc
							td OSAKA
						tr
							td.fw-700 Công việc
							td CHẾ TẠO TRONG XÂY DỰNG VÀ SƠN
						tr
							td.fw-700 Thời gian làm việc
							td 8H00~17H00
						tr
							td.fw-700 Lương cơ bản
							td 140.000 YÊN
						tr
							td.fw-700 Phí phải trừ
							td THUẾ + BẢO HIỂM
						tr
							td.fw-700 Lương thực nhận
							td TỪ 100,000 YÊN TRỞ LÊN (TĂNG CA NHIỀU)
						tr
							td.fw-700 Ngày tuyển
							td 03/04/2018
						tr
							td.fw-700 Số lượng cần tuyển
							td 12 NAM CHẾ TẠO TRONG XÂY DỰNG 4 NAM THỢ SƠN
						tr
							td.fw-700 Dự kiến xuất cảnh
							td 01/10/2018
						tr
							td.fw-700 Trình độ
							td THPT TRỞ LÊN
						tr
							td.fw-700 Yêu cầu khác
							td SIÊNG NĂNG, THÍCH CÁC CÔNG VIỆC CHẾ TẠO SẢN XUẤT CÓ 4 SEMPAI ĐANG LÀM CHẾ TẠO KIM LOẠI TẤM.
						tr
							td.fw-700 Độ tuổi
							td TỪ 20~28
				.line
				a(href="#").btn ứng tuyển ngay
			.col-md-3
				.viec-lam-mirai
					h3.sub-title.color-title VIỆC LÀM MIRAI
					.line
					nav.list-viec-lam
						li
							a(href="#") [ THỰC TẬP SINH NHẬT BẢN ] 12 NAM - CHẾ TẠO TRONG XÂY DỰNG
						li
							a(href="#").new [ THỰC TẬP SINH NHẬT BẢN ] 12 NAM - CHẾ TẠO TRONG XÂY DỰNG
						li
							a(href="#") [ THỰC TẬP SINH NHẬT BẢN ] 12 NAM - CHẾ TẠO TRONG XÂY DỰNG
						li
							a(href="#").hot [ THỰC TẬP SINH NHẬT BẢN ] 12 NAM - CHẾ TẠO TRONG XÂY DỰNG
						li
							a(href="#") [ THỰC TẬP SINH NHẬT BẢN ] 12 NAM - CHẾ TẠO TRONG XÂY DỰNG
						li
							a(href="#").new [ THỰC TẬP SINH NHẬT BẢN ] 12 NAM - CHẾ TẠO TRONG XÂY DỰNG
						li
							a(href="#") [ THỰC TẬP SINH NHẬT BẢN ] 12 NAM - CHẾ TẠO TRONG XÂY DỰNG
						li
							a(href="#").hot [ THỰC TẬP SINH NHẬT BẢN ] 12 NAM - CHẾ TẠO TRONG XÂY DỰNG