extends _layout.pug

block var
	- var title = 'Tin tức'

block main
	section.page-banner
		img(src="./img/banner.jpg", alt="banner.jpg")
	section.container
		include ../components/breadcrumb/index
		.title.text-center Bộ sưu tập
		section.page-hinh-anh.bo-suu-tap
			.row
				-for(var i = 0; i < 6; i++)
					.col-md-4
						.item
							.box-img
								a(href="img/user.jpg" data-fancybox="hinh-anh")
									img(src="img/user.jpg", alt="user.jpg")
							.gallery
								.box-img
									a(href="img/hoat-dong(3).jpg" data-fancybox="hinh-anh")
										img(src="img/hoat-dong(3).jpg", alt="hoat-dong(3).jpg")
								.box-img
									a(href="img/hoat-dong(1).jpg" data-fancybox="hinh-anh")
										img(src="img/hoat-dong(1).jpg", alt="hoat-dong(1).jpg")
								.box-img
									a(href="img/hoat-dong(3).jpg" data-fancybox="hinh-anh")
										img(src="img/hoat-dong(3).jpg", alt="hoat-dong(3).jpg")
								.box-img
									a(href="img/hoat-dong(1).jpg" data-fancybox="hinh-anh")
										img(src="img/hoat-dong(1).jpg", alt="hoat-dong(1).jpg")
							.text-center
								span Hình ảnh ACM