extends _layout.pug

block var
	- var title = 'Home'

block main
	include ../components/header-banner/index
	include ../components/don-hang/index
	include ../components/gioi-thieu/index
	include ../components/tieu-bieu/index
	include ../components/muc-tieu/index
	include ../components/ho-so/index
	include ../components/cam-nhan/index
	include ../components/tin-tuc/index
	include ../components/lien-ket/index
	include ../components/bo-suu-tap/index
	include ../components/lien-he/index
	//- include ../components/down-chevron/index
	//- include ../components/cam-nhan-hoc-vien/index
	//- include ../components/home-news/index