footer
	.container
		.row
			.col-md-4.col-lg-3
				.item
					a(href="/")
						img.logo-footer(src="img/logo-footer.png", alt="logo-footer")
					h3.footer-title
						p ACM HUMAN CO.,LTD
						p (ACM人材有限会社）
					.social
						a(href="/").mdi.mdi-web
						a(href="https://www.facebook.com/fanpage.mirai" target="_blank").mdi.mdi-facebook
						a(href="https://www.youtube.com/channel/UC_aPd7LFRhF27FXPqYrILoA" target="_blank").mdi.mdi-youtube
			.col-md-4.col-lg-3
				.footer-item
					.v2-main__sub-title 本社
					p 05, Street 9, Tan Thuan Dong Ward, District 7, HCMC
					p TEL: (+84) 28 6276 2606
					p FAX: (+84) 28 3873 3268
					p Email: contact@acmjinzai.com
			.col-md-4.col-lg-3
				.footer-item
					.v2-main__sub-title 日本支店
					p 〒 211-0002 神奈川県川崎市中原区上丸子山王町2-1341-10
					p TEL: 080-2274-5232
					p Email: congtan@acmjinzai.com
			.mx-auto.mt-4-fs.mt-0-lg.col-lg-3
				.footer-certifications
					.item
						a(href="/")
							img(src="img/icon-footer.png", alt="icon-footer")
						p(style="font-weight: 700; color: #1D1D1B; text-transform: uppercase") 789/lđtnxh-gp
						p 作業者の海外勤務を許可する
					.item
						a(href="/")
							img(src="img/icon-footer.png", alt="icon-footer")
						p(style="font-weight: 700; color: #1D1D1B; text-transform: uppercase") 789/lđtnxh-gp
						p 作業者の海外勤務を許可する
	.copyright Copyright © 2019 ACM Co., Ltd. All rights reserved.