section.header-banner
	.container
		.row
			.col-md-6
				h2.title đơn hàng nổi bật
				.swiper-container
					.swiper-wrapper
						.swiper-slide
							p Nơi làm việc: Tokyo
							p Công việc: Chế tạo kim loại xây dựng
							p Lương cơ bản: 140.000 YÊN
							p Ngày tuyển: 27/12/2019
							.box-img
								img(src="img/co-khi.jpg", alt="co-khi.jpg")
							h3.sub-title cơ khí
						.swiper-slide
							p Nơi làm việc: Tokyo
							p Công việc: Chế biến thực phẩm
							p Lương cơ bản: 140.000 YÊN
							p Ngày tuyển: 27/12/2019
							.box-img
								img(src="img/che-bien-thuc-pham.jpg", alt="che-bien-thuc-pham.jpg")
							h3.sub-title chế biến thực phẩm
					.pagination
					a(href="#").see-more xem chi tiết 
			.col-md-6.banner-right
				.figure
					.box-img
						img(src='img/header-banner.png', alt='header-banner')