header
	.top-header
		.container
			.row
				.col-12.flex-box
					.logo
						a(href="#")
							img(src="img/logo.png", alt="logo")
					.hamburger
					nav.header-nav
						li
							a(href="#").active trang chủ
						li
							a(href="#") đơn hàng
						li
							a(href="#") ĐÀO TẠO
						li
							a(href="#") THỰC TẬP SINH
						li
							a(href="#") DU HỌC
	.nav-mobile
		nav
			li
				a(href="#").active trang chủ
			li
				a(href="#") đơn hàng
			li
				a(href="#") ĐÀO TẠO
			li
				a(href="#") THỰC TẬP SINH
			li
				a(href="#") DU HỌC