header
	.top-header
		.container
			.row
				.col-12.flex-box
					.logo
						a(href="#")
							img(src="img/logo.png", alt="logo")
					.hamburger
					nav.header-nav
						li
							a(href="index.html").active trang chủ
						li
							a(href="don-hang.html") đơn hàng
						li
							a(href="dieu-duong-2.html") Điều dưỡng
						li
							a(href="tin-tuc.html") tin tức
						li
							a(href="#vn")
								img(src="img/flagvn.png", alt="flagvn.png")
						li
							a(href="#jp")
								img(src="img/flagjp.png", alt="flagjp.png")
	.nav-mobile
		nav
			li
				a(href="#vn")
					img(src="img/flagvn.png", alt="flagvn.png")
				a(href="#jp")
					img(src="img/flagjp.png", alt="flagjp.png")
			li
				a(href="index.html").active trang chủ
			li
				a(href="don-hang.html") đơn hàng
			li
				a(href="dieu-duong-2.html") Điều dưỡng
			li
				a(href="tin-tuc.html") tin tức