header
	.top-header
		.container
			.row
				.col-12.flex-box
					.logo
						a(href="#")
							img(src="img/logo.png", alt="logo")
					.hamburger
					nav.header-nav
						li
							a(href="index.html").active trang chủ
						li
							a(href="don-hang.html") đơn hàng
						li
							a(href="dieu-duong-2.html") Điều dưỡng
						li
							a(href="tin-tuc.html") tin tức
	.nav-mobile
		nav
			li
				a(href="index.html").active trang chủ
			li
				a(href="don-hang.html") đơn hàng
			li
				a(href="dieu-duong-2.html") Điều dưỡng
			li
				a(href="tin-tuc.html") tin tức