.muc-tieu
	padding: 60px 0
	.content
		text-align: right
		p
			line-height: 2
			font-weight: 300
			font-style: italic
			font-size: 28px
	.line
		width: 70%
		margin: 30px auto 0
	.title
		line-height: 1.5
		font-size: 100px
		color: $color-title-3
	.bg-muc-tieu
		&:before
			z-index: -1
			content: ''
			position: absolute
			width: 1029px
			background-size: cover
			height: 800px
			background-image: url(../img/bg-banner-4.png)
			left: 0
			top: 50%
			transform: translateY(-50%)