footer
	.container
		.row
			.col-md-3.col-lg-2
				.item
					img.logo-footer(src="img/logo-footer.png", alt="logo-footer")
					h3.footer-title công ty TNHH nhân lực acm
					.social
						a(href="#").mdi.mdi-web
						a(href="https://www.facebook.com/fanpage.mirai" target="_blank").mdi.mdi-facebook
						a(href="https://www.youtube.com/channel/UC_aPd7LFRhF27FXPqYrILoA" target="_blank").mdi.mdi-youtube
			.col-md-9.col-lg-7
				h3.footer-title.flex-space-around
					a(href="#") trang chủ
					a(href="#") đơn hàng
					a(href="#") kỹ sư
					a(href="#") đào tạo
					a(href="#") du học
				nav.footer-nav
					-for(var i = 0; i < 3; i++)
						li
							a(href="#") Bản tin ACM
						li
							a(href="#") Đối tác liên kết việc làm tại Nhật Bản
						li
							a(href="#") Thông báo JLPT
						li
							a(href="#") Tuyển dụng nhân viên ACM
						li
							a(href="#") Thư viện - Media
						li
							a(href="#") Quy định bảo mật
						li
							a(href="#") Giới thiệu công ty
						li
							a(href="#") Giới thiệu các bộ phận
				nav.footer-nav
					li
						h3.footer-title Trung tâm đào tạo
						p 155 Trần Trọng Cung, P. Tân Thuận Đông, Quận 7, Tp.HCM
						p (+84) 6686 3208
						p contact@acmjinzai.com
					li
						h3.footer-title Văn phòng chính
						p 155 Trần Trọng Cung, P. Tân Thuận Đông, Quận 7, Tp.HCM
						p (+84) 6686 3208
						p contact@acmjinzai.com
			.col-lg-3
					.footer-certifications
						.item
							a(href="#")
								img(src="img/icon-footer.png", alt="icon-footer")
							p(style="font-weight: 700; color: #1D1D1B; text-transform: uppercase") 789/lđtnxh-gp
							p Giấy phép đưa người lao động đi làm việc ở nước ngoài
						.item
							a(href="#")
								img(src="img/icon-footer.png", alt="icon-footer")
							p(style="font-weight: 700; color: #1D1D1B; text-transform: uppercase") 789/lđtnxh-gp
							p Giấy phép đưa người lao động đi làm việc ở nước ngoài
	.copyright Copyright © 2020 ACM Co., Ltd. All rights reserved.