section.cam-nhan
	.container
		.cam-nhan-inner
			.swiper-container
				.swiper-wrapper
					-for(var i = 0; i < 3; i++)
						.swiper-slide
							figure
								.box-img
									img(src='img/user.jpg', alt='user.jpg')
								figcaption
									.item-title
										p.name tên học viên
										p Điều dưỡng
										p Xuất cảnh: 27/12/2019
									.item-content
										p Em rất cám ơn ACM đã tạo cơ hội cho em lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean feugiat aliquet molestie.
										br
										p Donec consectetur quam metus, id dictum erat malesuada vitae. Duis vestibulum congue eros in dignissim. Proin euismod sagittis sapien id aliquam. Sed non risus nec enim euismod gravida commodo id lacus.
						.swiper-slide
							figure
								.box-img
									img(src='img/nu-3.png', alt='nu-3.png')
								figcaption
									.item-title
										p.name tên học viên
										p Điều dưỡng
										p Xuất cảnh: 27/12/2019
									.item-content
										p Em rất cám ơn ACM đã tạo cơ hội cho em lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean feugiat aliquet molestie.
										br
										p Donec consectetur quam metus, id dictum erat malesuada vitae. Duis vestibulum congue eros in dignissim. Proin euismod sagittis sapien id aliquam. Sed non risus nec enim euismod gravida commodo id lacus.
			.pagination-wrap
				.pagination
				span cảm nhận học viên