section.lien-ket
	.container
		.row
			.col-12
				.text-center Liên kết với trường Đại Học, Cao Đẳng tạo cơ hội việc làm tiếng Nhật cho sinh viên
				.swiper-container
					.swiper-wrapper
						-for(var i = 0; i < 2; i++)
							.swiper-slide
								.box-img
									img(src='img/school-1.png', alt='school-1.png')
								p Trường Cao Đẳng Nghề Đà Nẵng
							.swiper-slide
								.box-img
									img(src='img/school-2.png', alt='school-2.png')
								p Trường CĐ Kỹ Thuật Công Nghệ Bà Rịa - Vũng Tàu
							.swiper-slide
								.box-img
									img(src='img/school-3.png', alt='school-3.png')
								p Trường ĐH Công nghiệp Thực phẩm Tp. HCM
							.swiper-slide
								.box-img
									img(src='img/school-4.png', alt='school-4.png')
								p Trường ĐH Sư phạm Kỹ thuật TP. HCM
							.swiper-slide
								.box-img
									img(src='img/school-5.png', alt='school-5.png')
								p Trường Cao Đẳng Kỹ Thuật Đồng Nai
				.pagination