section.v2-main
	.container
		.row
			article#article-1.col-12
				.v2-main__title 社長ご挨拶
			article.col-lg-3
				figure.figure
					.figure__img
						img(src='img/v2-avatar-1.png' alt='v2-avatar-1.png')
					figcaption.figcaption
						.figure__sub-title 代表取締役社長
						.figure__title MAI CONG TAN
						.figure__sub-title マイ コン タン
			article.col-lg-9.pl-8-lg
				.v2-main__sub-title 私どもは今までの経験を活かし、ベトナム国に誇る人材を育成し、社会に貢献します。
				.v2-main__content
					p “日本で働くチャンスを通して若いベトナム人材に「輝く未来を贈る使命を持ち」2019年にJP人材有限会社を設立しました。
					p 日本国を初めアジア諸国は経済発展の骨幹となる若い働き手が必要となる大事な時期に、人財を育成し、貢献出来る立場にある事の責任の重大さを感じると共に弊社・基本運営理念「相互扶助・社会貢献」を抱き誠心誠意邁進しお役に立てる様頑張っていきます。
					p 弊社スタッフも一丸となり取り組んでおりますので、ご指導・ご鞭撻・ご協力を賜りますようお願い申し上げます。”
			article#article-2.col-lg-6.mt-4.mt-8-lg
				.v2-main__sub-title 会社概要
				table.v2-main__table
					tr
						th 社名
						td MIRAI HUMAN CO.,LTD (JP人材有限会社）
					tr
						th 資本
						td 60億ベトナムドン
					tr
						th 設立
						td 2019年６月
					tr
						th 本社所在地
						td ベトナム ホーチミン
					tr
						th コアビジネス
						td
							ul
								li 教育 (職業訓練・日本語・スキル）
								li 人材開発コンサルティング
								li 日本で就職希望のエンジニアへのコンサルティング
								li 日本へエンジニア・留学生・技能実習生紹介、派遣
			article.col-lg-6.mt-4.mt-8-lg
				.v2-main__sub-title.text-center 役員
				.row
					.col-lg-6
						figure.figure
							.figure__img
								img(src='img/v2-avatar-2.png' alt='img/v2-avatar-2.png')
							figcaption.figcaption
								.figure__sub-title 取締役副社長
								.figure__title NGUYEN THI LY
								.figure__sub-title グエン・ティ・リー
					.col-lg-6
						figure.figure
							.figure__img
								img(src='img/v2-avatar-3.png' alt='img/v2-avatar-3.png')
							figcaption.figcaption
								.figure__sub-title 取締役副社長
								.figure__title THAI THI HA THU
								.figure__sub-title タイ・ティ・ハー・トウ
include ../v2-the-manh/index
section.v2-main
	.container
		.row
			article#article-4.col-lg-12
				.v2-main__title スキル教育及びマナー訓練
				.v2-main__line
				.v2-main__content
					figure.figure
						img.vab(src='img/jp-marge.png' alt='img/jp-banner.png')
					.row
						.col-md-6.col-lg-4
							figure.figure
								img.sck(src='img/v2-5s.png' alt='img/v2-5s.png')
						.col-md-6.col-lg-4
							figure.figure
								img.sck(src='img/v2-5c.png' alt='img/v2-5c.png')
						.col-md-6.col-lg-4.mx-auto-md
							figure.figure
								img.sck(src='img/v2-5k.png' alt='img/v2-5k.png')
include ../v2-lien-he/index
