section.tin-tuc
	.container
		.row
			.col-12.text-center
				h2.title tin tức hoạt động
				p Chọn giáo dục & việc làm là cơ sở cốt lõi cho sự phát triển một xã hội phồn vinh & bền vững nhất
			.col-lg-8
				.swiper-container
					.swiper-wrapper
						-for(var i = 0; i < 2; i++)
							a(href="#").swiper-slide
								article
									.box-img
										img(src='img/news-1.png', alt='news-1.png')
									h4.article-title "Thực tập sinh kỹ năng" và "Kỹ năng đặc định"
									p.posted 18/10/2019
									.item-content
										p Thời gian gần đây, thị trường xuất khẩu lao động Nhật Bản trở nên sôi động hơn hẳn do Chính phủ Nhật đã thông qua Luật mới Chương trình làm việc liên tục 5 năm với tên gọi “Kỹ năng đặc định”.
							a(href="#").swiper-slide
								article
									.box-img
										img(src='img/news-2.png', alt='news-2.png')
									h4.article-title Đi Nhật làm việc: Chọn 01 năm hay 03 năm?!
									p.posted 18/10/2019
									.item-content
										p Bài viết này sẽ giúp bạn có những hình dung cơ bản về chương trình 01 năm và 03 năm, để từ đó có thể đưa ra quyết định phù hợp với nguyện vọng, mục tiêu và điều kiện của bản thân. Hơn hết, Esuhai mong rằng, với sự lựa chọn phù hợp sẽ giúp bạn có cơ hội và điều kiện phát triển tốt hơn cả về cuộc sống lẫn công việc và sự nghiệp trong tương lai, bạn nhé!
							a(href="#").swiper-slide
								article
									.box-img
										img(src='img/news-3.png', alt='news-3.png')
									h4.article-title Giành lấy cơ hội tham dự chương trình kỹ sư làm việc tại Nhật ngay trong tháng 10 này
									p.posted 18/10/2019
									.item-content
										p Chỉ còn 2 tuần nữa thôi, tháng 10/2019 sẽ khép lại rồi! Nếu bạn đang mong muốn phát triển sự nghiệp tại Nhật Bản thông qua con đường kỹ sư, hãy đến ngay hội thảo của ACM  trong tháng 10 này nhé!
				.pagination
			.col-lg-4
				.tin-tuc-khac
					.item
						p.posted 18/10/2019
						a(href="#").item-title Lễ hội Trà Tokyo 2019
					.item
						p.posted 18/10/2019
						a(href="#").item-title Học cách người Nhật Bản ứng phó với bão
					.item
						p.posted 18/10/2019
						a(href="#").item-title ACM vinh dự đón tiếp đoàn khách quý từ Bộ LĐ – TB & XH, UBND Tp. HCM, Sở LĐ – TB & XH Tp.HCM và CLB Doanh nhân Tỉnh Tiền Giang tại Tp.HCM đến thăm và làm việc
					.item
						p.posted 18/10/2019
						a(href="#").item-title Tưng bừng khai giảng lớp kỹ sư công nghệ KS18 – Dự Bị
					.item
						p.posted 18/10/2019
						a(href="#").item-title Bão Hagibis suy yếu thành áp thấp
					.item
						p.posted 18/10/2019
						a(href="#").item-title Hỗ trợ người nước ngoài bằng nhiều thứ tiếng sau bão Hagibis